Source: i3tools
Section: x11
Priority: optional
Maintainer: C. Morgan Hamill <me@cmhamill.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/cmhamill/i3tools
Vcs-Browser: https://github.com/cmhamill/i3tools
Vcs-Git: https://github.com/cmhamill/i3tools.git

Package: i3tools
Architecture: all
Depends: ${misc:Depends},
 jq (>=1.4)
Recommends:
 fonts-font-awesome (>=4.7),
 rofi (>=1.3.1) | dmenu
Description: tools for use with i3
 Tools to make i3 less terrible.
 .
 So far, it includes:
 - i3tag: dynamic workspaces for i3
 - power-menu: keyboard-centric logout and power menu for i3
